{% extends 'base.html' %} {% block title %}World Cup - My Flask Site{% endblock
%} {% block content %}
<h1 class="text-center mb-5">World Cup tables and stats</h1>

<a
  href="https://www.google.com/search?sa=X&sca_esv=bd8c901c23c8a7b3&rlz=1C1GCEA_enAU1200AU1200&sxsrf=APpeQntnfYbLRx_7_A_uKY6g-2ACTX7rug:1782779185459&q=fifa+world+cup+standings&si=APenkKmVfvI1R-flOtNOq4K5PKSqbMhrjfTw-v8CfjXrn_ZTc6lkU1CNPCsg_H6k8BBph0hI9_G3ZRn79jA9UIsE91gwfpG4NjlRuETx6xU6xYkWpT-67CrSCTbXit2uLk9LsJQRB8THbsTPTy25BmbqWTgVWllKx2NMd3GhDYB2KwoUaqCm9qjvehKswE5o_SndK_Q3C5bEtE6J5mwV_iWEIeL4t2_eEA%3D%3D&ved=2ahUKEwiMpr-A2q2VAxXUsqgCHR_yLdcQyNoBKAB6BAgREAA&ictx=1&biw=1920&bih=945&dpr=1"
  target="_blank"
  rel="noopener noreferrer"
  class="btn btn-primary"
>
  View FIFA World Cup Standings
</a>
{% endblock %}
