{% extends 'base.html' %} {% block title %}Learn More{% endblock %} {% block
content %}
<div class="container py-5">
  <h1 class="mb-4">Learn new skills?</h1>

  <div class="container">
    <div class="row">
      <!-- LEFT SIDE: IMAGE -->
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/newskills.jpg') }}"
          class="img-fluid rounded"
          alt="New Skills"
          style="height: auto; object-fit: contain"
        />
      </div>
      {% endblock %}
    </div>
  </div>
</div>
