{% extends 'base.html' %} {% block title %}Learn More{% endblock %} {% block
content %}
<div class="container py-5">
  <h1 class="mb-2">World Cup most recent matches!!!</h1>
</div>

<div class="container py-5">
<div class="row mt-4"></div>
  <div class="col-md-6 mb-2">
    <h1>Agrentina v Austria</h3>
    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.fifa.com/en/watch/6N4dkwqyP1sUURyCXExX5s"
        title="Match 1"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</div>
{% endblock %}
